* {
  box-sizing: border-box;
  margin: 0;
}

.main {
  display: flex;
  height: 100vh;
  max-width: 1940px;
  padding: 0 10px;
  margin: 0 auto;
}

/*Side left*/

.side-left {
  max-width: 320px;
  width: 100%;
  padding: 30px 25px 0 60px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-right {
  max-width: 420px;
  width: 100%;
  padding: 55px 90px 0 40px;
}

.cart {
  max-width: 290px;
}

.cart__inner {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px 30px 0;
  border-radius: 5px;
  max-width: 290px;
}

.cart__title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;

}

.cart__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #A4ACAD;
  padding-bottom: 25px;
  text-align: center;
}

.cart__delivery {
  background-color: #FF9846;
  color: #f2f2f2;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  border-radius: 0px 0px 5px 5px;
  margin: 0;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.cart__map img {
  width: 290px;
  height: 116px;
  object-fit: cover;
}

.cart__circle {
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 60px;
  height: 60px;
  background: #FF9846;
  border-radius: 50%;
}

.cart__map {
  margin-bottom: 40px;
  border-radius: 5px;
  position: relative;
}

.cart__address {
  background-color: #f2f2f2;
}

.content {
  text-align: center;
  background-color: #f2f2f2;
}

.hr {
  width: 180px;
  border: 0.5px solid #a4acad;
  border-radius: 2px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;

}

.nav__item {
  margin-bottom: 30px;
  padding-left: 40px;
  position: relative;

}

.nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("./img/icons/1.png");
  background-repeat: no-repeat;
}

.nav__shortly {
  position: absolute;
  background-color: #eb5757;
  left: 100px;
  top: -10px;
  border-radius: 10px;
  padding: 0 5px;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
}

.nav__item--pizza::before {
  background-image: url(./img/icons/1.png);
}

.nav__item--set::before {
  background-image: url(./img/icons/Сеты.png);
}

.nav__item--wok::before {
  background-image: url(./img/icons/4.png);
}

.nav__item--roll::before {
  background-image: url(./img/icons/Роллы.png);
}

.nav__item--sushi::before {
  background-image: url(./img/icons/Суши.png);
}

.nav__item--salat::before {
  background-image: url(./img/icons/Салаты.png);
}

.nav__item--soup::before {
  background-image: url(./img/icons/Супы.png);
}

.nav__item--korn::before {
  background-image: url(./img/icons/2.png);
}

.nav__item--drink::before {
  background-image: url(./img/icons/3.png);
}

.nav__item--sales::before {
  background-image: url(./img/icons/Акции.png);
}

.nav__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
}

.nav__item:hover .nav__link {
  color: #ff9846;
}